.app {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;

  .size-6 {
    width: 1.5rem;
    height: 1.5rem;
  }

  @media (max-width:427px) {
    flex-direction: column;
  }
}