.home-root {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 10px;
    padding-top: 40px;
    height: 100dvh;
    overflow-y: scroll;

    &>div {
        height: max-content;

        &:nth-child(1) {
            width: 65%;
        }

        &:nth-child(2) {
            width: 35%;
        }
    }

    @media (max-width:768px) {
        overflow: scroll;
        flex-flow: row wrap-reverse;

        &>div {

            &:nth-child(1),
            &:nth-child(2) {
                width: 100%;
            }
        }
    }


    .main-root {
        display: flex;
        width: 100vw;
        height: auto;
        padding: 10px;
        flex-direction: column;
        margin-bottom: 70px;

        h1 {
            font-size: 25px;
            font-weight: 700;
            width: max-content;
            display: flex;
            justify-content: center;
            align-items: center;
            height: max-content;
            column-gap: 10px;
            margin-bottom: 20px;

            svg {
                width: 45px;
                height: 45px;
                padding: 1px;
                background: #f4f3f3;
                stroke: palevioletred;
            }
        }


        .card-wrapper {
            display: flex;
            flex-wrap: wrap;
            column-gap: 15px;
            align-items: center;
            width: 100%;
            height: auto;
            row-gap: 30px;
            padding: 20px;

            @media (max-width:768px) {
                justify-content: center;
            }

            .card {
                width: 350px;
                height: 250px;
                perspective: 1000px;

                @media (max-width:768px) {
                    width: 400px;
                    height: 300px;
                }

                .inner {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    transition: transform 0.8s cubic-bezier(0.4, 0.4, 0.2, 1);
                    transform-style: preserve-3d;
                }

                &:hover {
                    .inner {
                        transform: rotateY(180deg);
                    }
                }

                .front,
                .back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                }

                .front {
                    background-color: #bbb;
                    color: black;

                    div {
                        position: relative;
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        .card-tag {
                            position: absolute;
                            top: 10px;
                            left: 10px;
                            background: white;
                            padding: 10px;
                            font-weight: 600;
                            border-radius: 10px;
                        }
                    }
                }

                .back {
                    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
                    transform: rotateY(180deg);
                    transform-style: preserve-3d;
                    perspective: 1000px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .hover-back {
                        width: max-content;
                        height: max-content;
                        z-index: 2;
                        transform: translateZ(70px);
                        display: flex;
                        justify-content: center;
                        flex-direction: column;

                        h2 {
                            font-family: Georgia, 'Times New Roman', Times, serif;
                            text-transform: capitalize;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            width: 250px;
                        }

                        .info {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            column-gap: 10px;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                            margin-top: 10px;

                            p {
                                font-size: 12px;
                                display: flex;

                                &:nth-child(1) {
                                    font-weight: 500;
                                    margin: 0;
                                    padding: 0;
                                }

                                &:nth-child(2) {
                                    font-size: x-small;
                                    column-gap: 5px;
                                }

                                &:nth-child(3) {
                                    font-size: x-small;
                                    column-gap: 5px;
                                }
                            }
                        }

                        .desc {
                            display: flex;
                            justify-content: center;
                            align-self: center;
                            width: 100%;
                            height: 100%;
                            margin-top: 10px;

                            p {
                                font-size: 13px;
                                display: flex;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 4;
                                -webkit-box-orient: vertical;
                                width: 250px;
                            }
                        }

                        .read-more {
                            font-size: 13px;
                            margin-top: 5px;

                            &:hover {
                                font-style: italic;
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

.explore-root {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-y: scroll;

    .input-search {
        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        input {
            width: 100%;
            height: 30px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin: 0;
            padding: 0;
            border: 2px solid #ccc;
            outline: black;
            padding: 20px;
            padding-right: 30px;
        }

        svg {
            position: absolute;
            right: 5px;
        }
    }
}

.shapes-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;


    .shape {
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: rgba(255, 99, 71, 0.7);
        z-index: 0;
        transition: all .5s;


        &.circle {
            border-radius: 50%;
            background-color: rgba(99, 71, 255, 0.7);
        }


        &.square {
            border-radius: 0;
            border: 1px solid #ccc;
            background: linear-gradient(rgba(78, 11, 187, 0.81), rgb(52, 0, 251));
        }

        &.triangle {
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-bottom: 100px solid rgba(0, 150, 136, 0.7);
            background-color: transparent;
        }
    }

    .not-found-root {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        row-gap: 0;
        z-index: -1;
        background-image: url('https://www.creativefabrica.com/wp-content/uploads/2020/04/24/Abstract-Website-Background-with-Squares-Graphics-3943068-1.jpg');

        .number {
            display: flex;
            margin: 0;
            z-index: 9;

            h1 {
                font-size: 25vw;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                color: rgb(204, 200, 200)
            }
        }

        .text {
            z-index: 9;
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 0;
            padding: 0;
            margin-top: -30px;

            p {
                font-size: clamp(1.5625rem, 0rem + 5vw, 2.8125rem);
                width: max-content;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                color: rgb(193, 192, 192);
                font-weight: 600;
            }
        }
    }

}