.editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &>div {
        &:nth-child(1) {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &>div {
                width: 75%;

                &:last-child {
                    min-height: 200px;

                    img {
                        max-width: 50%;
                        max-height: 30%;
                        object-fit: contain;
                        margin: auto;
                        display: block;
                        border: 1px solid #ccc;
                    }

                }


            }
        }

    }

}


.create-root {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    height: 100vh;
    overflow-y: scroll;


    h1 {
        font-size: x-large;
        font-weight: 600;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 20px;
        margin-bottom: 40px;
    }

    form {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        label {
            display: flex;
            justify-content: start;
            align-items: center;
            column-gap: 20px;
            font-size: medium;
            font-weight: 600;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            width: 90%;
            margin-bottom: 20px;
            position: relative;


            &:first-child {
                column-gap: 65px;
            }

            &:nth-child(2) {
                column-gap: 9px;
            }

            input {
                width: 80%;
                height: max-content;
                padding: 10px;
                border: 2px solid rgb(169, 167, 167);
                border-radius: 10px;
                font-size: medium;
                font-weight: 100;
            }

            select {
                font-weight: 100;
            }

        }

        &>div {
            width: 100%;
        }

        &>div:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;

            button {
                border: 2px solid;
                padding: 20px;
                margin: 10px;
                background: rgb(9, 64, 228);
                color: white;
                border-radius: 20px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: 700;

                &:hover {
                    background: blue;
                }
            }
        }
    }

}

.blog-root {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    height: 100dvh;
    overflow-y: scroll;

    .blog-header {
        display: flex;
        width: 90%;
        flex-direction: column;
        padding: 20px 10px;
        row-gap: 10px;
        border-bottom: 1px solid rgb(110, 108, 108);

        h1 {
            font-size: 25px;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
        }
    }

    .author-info {
        display: flex;
        align-items: center;
        width: 80%;
        justify-content: space-around;
        padding: 10px;
        border-bottom: 1px solid #ccc;


        .profile {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 50%;


            p {
                font-size: clamp(0.9375rem, 0.1563rem + 2.5vw, 1.5625rem);
                width: 100%;
                padding: 5px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-weight: 600;
                font-family: Arial, Helvetica, sans-serif;
            }


            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }

        .blog-data {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 50%;


            p {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-size: clamp(0.625rem, 0.2344rem + 1.25vw, 0.9375rem);


                svg {
                    margin-right: 5px;
                }
            }
        }
    }

    .ql-editor {
        overflow: visible;
        width: 80%;
        height: max-content;
        border-bottom: 2px solid #ccc;
        padding-bottom: 20px;

        @media (max-width:786px) {
            width: 100%;
        }
    }

    .ql-editor:has(img) {
        img {
            max-width: 100%;
            max-height: 100%;
            width: 70%;
            object-fit: contain;
            margin: auto;
            display: block;
            border: 1px solid #ccc;
        }
    }


    .comment-section {
        width: 80%;
        padding: 10px;
        min-height: 80%;
        height: auto;
        background: white;
        display: flex;
        flex-flow: column wrap;
        position: relative;
        overflow-y: scroll;


        @media (max-width:768px) {
            width: 100%;
        }

        h1 {
            width: max-content;
            padding: 5px;
            border-bottom: 3px solid royalblue;
            font-size: 25px;
            font-weight: 600;
            font-family: 'Times New Roman', Times, serif;
            margin-bottom: 20px;
        }

        .reply-show-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70%;
            margin-bottom: 10px;
            margin-top: -5px;
            padding: 0;

            button {
                border: none;
                background: none;
                margin: 0;
                padding: 0;

                &:hover {
                    border-bottom: 3px solid rgb(70, 70, 246);
                }
            }
        }

        .comments-scroll {
            display: flex;
            justify-content: center;
            flex-flow: column wrap;
            height: auto;
            width: 100%;
            padding-bottom: 80px;
        }

        .comment-input-section {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 5px;
            height: fit-content;
            margin-bottom: 20px;

            input {
                width: 85%;
                height: 40px;
                outline: rgb(140, 140, 243);
                padding: 5px;
                border: 2px solid #ccc;
            }


            button {
                background: #63a0fc;
                border-radius: 20px;
                width: 100px;
                height: 40px;
                margin-left: 5px;
                border: 2px solid blue;

                &:hover {
                    background: #142D55;
                    color: white;
                    transition: all .5s;
                }
            }
        }

        .comment {
            display: flex;
            width: 70%;
            position: relative;
            min-height: 60px;
            height: auto;
            align-items: flex-start;
            border: 2px solid rgb(171, 169, 169);
            padding-top: 20px;
            padding-left: 5px;
            padding-right: 31.5px;
            border-radius: 10px;
            margin-bottom: 10px;

            @media (max-width:768px) {
                width: 90%;
            }

            .username {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                position: absolute;
                top: 5px;
                width: 280px;
                font-weight: 600;
                font-size: 15px;
                padding: 0px 5px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .text {
                color: gray;
                margin: 5px;
            }

            .btn-grp {
                width: max-content;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                right: 2px;
                bottom: 4px;

                button {
                    background: none;
                    width: max-content;
                    margin: 0 auto;
                    padding: 0;
                    cursor: pointer;
                    bottom: 5px;
                    padding: 3px;
                    border: none;
                    outline: none;
                    transition: all .5s;

                    &.btn-like {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
                        column-gap: 2px;
                    }

                    &.btn-delete {

                        &:hover {
                            i {
                                color: limegreen;
                                border: 2px solid limegreen;
                                border-radius: 50%;
                                padding: 5px;
                            }
                        }
                    }

                    &.btn-reply {

                        &:hover {
                            border-bottom: 4px solid cyan;
                        }
                    }
                }
            }
        }

        .reply-input {
            input {
                width: 60%;
                height: 40px;
                outline: rgb(140, 140, 243);
                padding: 5px;
                border: 2px solid #ccc;
            }

            button {
                background: #63a0fc;
                border-radius: 20px;
                min-width: 100px;
                min-height: 40px;
                width: max-content;
                height: max-content;
                margin-left: 5px;
                border: 2px solid blue;

                &:hover {
                    background: #142D55;
                    color: white;
                    transition: all .5s;
                }
            }
        }
    }
}